<div class="wrapper">
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th *ngFor="let col of cols">
            Header one *leads the width* (case 1)
            <div>
              {{col.displayName}}
            </div>
          </th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list">
          <td *ngFor="let col of cols">
            {{item[col.name]}}
          </td>
          <!-- <td>Column two *leads the width* (case 2)</td>
          <td>Column three [first]</td> -->
        </tr>
       
      </tbody>
      <!-- <tfoot>
        <tr>
          <td>
            Footer one
            <div class="c1">
              Footer one
            </div>
          </td>
          <td>
            Footer two
            <div class="c2">Footer two</div>
          </td>
          <td>
            Footer three *leads the width* (case 3)
            <div class="c3">Footer three *leads the width* (case 3)</div>
          </td>
        </tr>
      </tfoot> -->
    </table>
  </div>
</div>